body, html {
    font-family: calibri, Times New Roman;
    scroll-behavior: smooth;
}

header {
    margin-bottom: 40px;
}

#logo {
    height: 100px;
    margin: auto;
    display: block;
}

header div h3 {
    text-align: center;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

nav ul li a {
    color: black;
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
}

p {
    font-size: 23px;
    padding-left: 1500px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    word-spacing: 3px;
    line-height: 35px;
}

#introduction {
    background-color: #afeeee;
    margin: 0px;
}

#img-1 {
    margin: 60px 80px;
    float: left;
    height: 800px;
}