body, html {
    font-family: calibri, Times New Roman;
    scroll-behavior: smooth;
}

header {
    margin-bottom: 40px;
}

#logo {
    height: 100px;
    margin: auto;
    display: block;
}

header div h3 {
    text-align: center;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}

nav ul li a {
    color: black;
}

h1 {
    
    text-align: center;
}

p {
    text-align: center;
    font-size: 23px;
    word-spacing: 2%;
    line-height: 35px;
}

#introduction1 {
    background-color: #afeeee;
    margin: 0px;
}

#img-1 {
    margin: 60px 60px;
    float: left;
    height: 800px;
}