body, html {
    font-family: calibri, Times New Roman;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

<!--
header {
    margin-bottom: 40px;
}

#logo {
    height: 100px;
    margin: auto;
    display: block;
}

.noselect {
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

header div h3 {
    text-align: center;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}

nav ul li a {
    color: black;
}

.introduction1 h1 {
    text-align: center;
    font-size: 50px;
}

.introduction1 p {
    text-align: center;
    font-size: 25px;
    word-spacing: 2px;
    line-height: 35px;
}

.introduction1 {
    background-color: #afeeee;
    padding: 50px 75px 75px 50px;
}

#img-1 {
    margin: 4% 5%;
    float: left;
    width: 50%;
}

.aboutus p {
    position: relative;
    font-size: 25px;
}

.aboutus h1 {
    font-size: 40px;
}

#img-2 {
    float: right;
    width: 50%;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.aboutustext {
    position: absolute;
    top: 1400px;
    padding-right: 60%;
    background-color: yellowgreen;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: -1;
}