body, html {
    font-family: calibri, Times New Roman;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

<!--
header {
    margin-bottom: 40px;
}

#logo {
    height: 100px;
    margin: auto;
    display: block;
}

.noselect {
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

header div h3 {
    text-align: center;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}

nav ul li a {
    color: black;
}

.introduction1 h1 {
    text-align: center;
    font-size: 50px;
}

.introduction1 p {
    text-align: center;
    font-size: 30px;
    word-spacing: 2%;
    line-height: 35px;
}

.introduction1 {
    background-color: #afeeee;
    padding: 100px 100px;
}

#img-1 {
    margin: 4% 5%;
    float: left;
    width: 40%;
}

.ourMission {
    text-align: center;
    font-size: 30px;
    margin: 5%;

}