body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: calibri, Times New Roman;
    scroll-behavior: smooth;
}

p {
    font-size: 23px;
}

div h2 {
    color: white;
}

.hero-banner {
    position: relative;
    height: 600px;
    overflow: hidden;
    background: url(../images/bannerClock.jpg) no-repeat center;
    background-size: cover;
}

main {
    margin: 2% 30%;
    line-height: 30px;
}