body, html {
    font-family: calibri, Times New Roman;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    padding: 20px;
    height: auto;
    background-color: slategrey;
    margin-top: 13%;
}

footer {
    display: table-row;
    height: 1px;
}

header {
    margin-bottom: 40px;
}

#logo {
    height: 100px;
    margin: auto;
    display: block;
}

.noselect {
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

header div h3 {
    text-align: center;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}

nav ul li a {
    color: black;
}

.introduction h1 {
    text-align: center;
    font-size: 50px;
}

.introduction p {
    text-align: center;
    font-size: 25px;
    word-spacing: 2px;
    line-height: 35px;
}

.introduction {
    background-color: #afeeee;
    padding: 10px 75px 24px 5px;
}

#img-1 {
    margin: 4% 5%;
    float: left;
    width: 50%;
}

.aboutustext p {
    position: relative;
    font-size: 25px;
}

.aboutustext h1 {
    font-size: 40px;
}

#img-2 {
    float: right;
    width: 50%;
    margin-top: 7%;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 11%;
}

.aboutustext {
    position: absolute;
    top: 130%;
    padding-right: 60%;
    background-color: palegreen;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 30px;
    z-index: -1;
}

#img-3 {
   float: left;
   margin: 5% 4% 2% 3%;
   width: 50%; 
}

.howitwillhelptext h1 {
    font-size: 40px;
}

.howitwillhelptext p {
    font-size: 25px;
}

.howitwillhelptext {
    position: absolute;
    top: 230%;
    padding-left: 57%;
    padding-right: 2%;
    background-color: palegoldenrod;
    z-index: -1;
}

#img-4 {
    float: right;
    width: 50%;
    margin-top: 15%;
    margin-right: 3%;
}

.specificationstext {
    position: absolute;
    top: 321.6%;
    background-color: lightsalmon;
    z-index: -1;
}

.specificationstext p {
    margin-left: 2%;
    margin-right: 55%;
    font-size: 25px;
}

.specificationstext h1 {
    margin-left: 2%;
    font-size: 40px;
}