body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: calibri, Times New Roman;
    color: white;
    background-color: black;
    scroll-behavior: smooth;
}

.hero-banner {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../images/bannerClock.jpg) no-repeat center;
    background-size: cover;
}

nav {
    position: fixed;
}

header {
    margin: 2% 30%;
    line-height: 30px;
}


main {
    margin: 2% 30%;
    line-height: 30px;
}